footer{ justify-content: space-between;
    align-items: center;
    background: linear-gradient(black,rgba(72, 71, 71, 0.792),gray,black);
    .rrss{font-family: Arial, Helvetica, sans-serif;}
    .contacto{font-family: Arial, Helvetica, sans-serif;}
    h2{
        color: black;
    }
}
    