h1 , p { color: gray;} 
.black{color:black}
form{background: linear-gradient(rgba(72, 71, 71, 0.792),gray,black)}
@media only screen and (max-width:768px){
    .black { font-size: 1rem; 
            align-items: center; }
}
.card-body{
    background-color: black;
}